[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
django = "==3.1.0"
gunicorn = "*"
install = "*"
django-heroku = "==0.0.0"
psycopg-binary = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
